body {
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

h2 {
  text-align: center;
  font-family: "Arvo", serif;
  color: #ffe874;
  letter-spacing: 1rem;
  font-size: 5rem;
  font-weight: bolder;
  margin: 1rem 0;
}

.levels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.levels button {
  width: 22rem;
  height: 5.5rem;
  font-size: 2.5rem;
  margin: 30px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #1a535c;
  background-color: #1a535c;
}

button a {
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: #f7fff7;
}

button:hover {
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

button:hover a {
  color: #1a535c;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 992px) {
  h2 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }

  .levels button {
    width: 18rem;
    height: 5rem;
    margin: 20px 10px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }

  .levels button {
    width: 16rem;
    height: 4rem;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 3rem;
  }

  .levels {
    padding: 20px;
  }

  .levels button {
    width: 14rem;
    height: 3.5rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 360px) {
  h2 {
    font-size: 2.75rem;
    letter-spacing: 0.25rem;
  }

  .levels button {
    margin: 15px 0;
  }
}
